.div-conatiner {
    display: grid;
    margin-inline: 42%;
    margin-block: 13%;
    background-color: white;
    width: 280px;
    padding: 20px;
    padding-inline: 30px;
    border-radius: 5px;
}

.div-conatiner>* {
    margin-block: 10px;
}

#register-link {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
}

#forgotPassword-link {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}